/*Assignment 5*/

html, body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   min-height: 2000px;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   width:100%;
   height:15%; //your desired height

}

#login{
   /*min-width: 1820px;*/
   position:fixed;
   background-color:#6cf;
   border :#6d63f0 2px solid;
   border-radius: 8px;
   top: 0px;
   left: 0px;
   width: 100%;
}

legend{
    font-style: bold;
    font-size: 20px;
}


#body {
    position: absolute;
    top: 15%;
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */

}

#copyright{
    position: absolute;
    bottom: 20px;
    background:#6cf;
    left: 0px;
    border :#6d63f0 2px solid;
    border-radius: 8px;
    width: 97%;
}

/*Assignment 4*/
    /*Row1*/

#a4{
    border: 2px solid #000;

}

.G1{
    background-color: #040;
    padding: 10px;
}
.G2{
    background-color: #060;
    padding: 10px;
}
.G3{
    background-color: #080;
    padding: 10px;
}
.G4{
    background-color: #0a0;
    padding: 10px;
}
.G5{
    background-color: #0c0;
    padding: 10px;
}
.G6{
    background-color: #0e0;
    padding: 10px;
}


.BR1{
    background-color: #00f;
    padding: 10px;
}
.BR2{
    background-color: #22f;
    padding: 10px;
}
.BR3{
    background-color: #44f;
    padding: 10px;
}
.BR4{
    background-color: #f66;
    padding: 10px;
}
.BR5{
    background-color: #f22;
    padding: 10px;
}
.BR6{
    background-color: #e00;
    padding: 10px;
}


.B1{
    background-color: #00f;
    padding: 10px;
}
.B2{
    background-color: #22f;
    padding: 10px;
}
.B3{
    background-color: #55f;
    padding: 10px;
}
.B4{
    background-color: #77f;
    padding: 10px;
}
.B5{
    background-color: #99f;
    padding: 10px;
}
.B6{
    background-color: #ccf;
    padding: 10px;
}

.BW1{
    background-color: #000;
    padding: 10px;
}
.BW2{
    background-color: #333;
    padding: 10px;
}
.BW3{
    background-color: #666;
    padding: 10px;
}
.BW4{
    background-color: #aaa;
    padding: 10px;
}
.BW5{
    background-color: #ccc;
    padding: 10px;
}
.BW6{
    background-color: #fff;
    padding: 10px;
}