.login-box{
    background: #fff;
    width: 25%;
    height: 15%;
    position: absolute;
    align-content: center;
    margin : 15% 0 0 33%;
    padding : 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}